h1 {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

h1#main-title {
    color: green;
}

ol.goals {
    color: red;
}

ol.goals .list__item {
    background-color: yellow;
    font-style: italic;
}

.li1 {
    text-transform: uppercase;
}

ol {
    border: 1px solid red;
}

.file1 {
    color: green;
    font-style: italic;
}

a {
    color: violet;
    text-decoration: none;
}

p a {
    color: magenta;
    background-color: mistyrose;
}

.bold {
    font-weight: bold;
}

.text {
    text-align: right;
    border: 1px solid blue;
    font-size: 20px;
}

h1 {
    color: red;
}

/* цей стиль не спрацює через більшу специфічність стилю з id (h1#main-title).Щоб це працювало, вам потрібно підвищити специфіку.*/

* {
    box-sizing: border-box;
}