.H1 {
    text-align: center;
    color: cornflowerblue;
}

.H2 {
    text-align: center;
    color: chartreuse;
}

.IMG {
    text-align: center;
}

.on-the-main {
    background-color: cadetblue;
    text-align: center;
}